html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.imagepreview {
    width: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
}

@media (min-width: 576px) { .modal-dialog {
    max-width: 100%;
    max-height: 100%;
    margin: 1.75rem auto;
} }

@media (min-width: 1200px) {
    .modal-dialog {
        max-width: 55%;
        margin: 1.75rem auto;
    }
}


